@import './_variables';
@import './_mixins';

* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    position: relative;
    margin: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $main-text-color;
    background-color: $main-background-color;
    font-size: $main-text-size;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    height: 100%;
}

.btn {
    padding: 0.5rem 1rem;
    border: 1px solid $black;
    text-decoration: none;
    border-radius: $main-border-radius;
    color: $black;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    background-color: white;
    &:hover {
        background-color: $black;
        color: $white;
        // transform: translate(0, -2px);
        svg {
            fill: $white;
        }
    }
    svg {
        fill: $black;
    }
}

.btn-1 {
    font-size: 1.3rem;
    border-radius: 0.6rem;
    padding: 0.5rem 1.5rem;
}

.btn-2 {
    font-size: 0.8rem;
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    @include box-3d-decoration(0.1rem, 0.5rem, white);
}

.btn-sm {
    font-size: 0.7rem;
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    font-style: italic;
    font-weight: 300;
}

.btn-3d {
    @include box-3d-decoration(5px, 13px, white);
}

.btn-sm-3d {
    @include box-3d-decoration(1px, 0.5rem, white);
}

.btn-black {
    background-color: $black;
    color: $white;
    &:hover {
        background-color: $white;
        color: $black;
        svg {
            fill: $black;
        }
    }
    svg {
        fill: $white;
    }
}

.btn-primary {
    background-color: $primary-color;
    color: $primary-color-text;
    &:hover {
        background-color: $white;
        color: $primary-color-text-highlight;
        svg {
            fill: $primary-color-text-highlight;
        }
    }
}

input::placeholder {
    font-family: 'Inter', sans-serif;
}

@include breakpoint('>desktop-xl') {
    html {
        font-size: 20px;
    }
}

.animated-loading {
    animation: popAndRotateIn 0.1s ease-in-out;
    opacity: 0.5;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    & > span {
        animation: bounce 1s infinite;
    }
    @for $i from 1 through 15 {
        & > span:nth-child(#{$i}) {
            animation-delay: calc(#{$i}s / 20);
        }
    }
}
