@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.favorites-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    @include square(100%);

    .no-results,
    .no-favorites {
        @include square(100%);
        @include flexbox(center, center, column, nowrap);
        gap: 2rem;
        position: relative;
        z-index: 0;
        span {
            font-style: italic;
            font-size: 1.2rem;
            font-weight: 200;
            text-align: center;
        }

        > svg {
            @include square(7rem);
        }
    }

    .favorites-page__title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .favorites-page__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .favorites {
        @include flexbox(start, start, column, nowrap);
        @include square(100%);
        width: calc(100% + 1rem);
        padding-right: 1rem;
        gap: 0.75rem;
        overflow-y: auto;
        position: relative;
        z-index: 1;
        margin-left: -1rem;
        padding-left: 1rem;
        margin-top: -1rem;
        padding-top: 1rem;
        .favorite {
            border: 1px solid black;
            border-radius: 0.6rem;
            padding: 0.6rem 0.9rem 0.6rem 0.7rem;
            width: 100%;
            animation: fadeIn 0.1s ease-in-out;
            background-color: white;
            transition:
                transform,
                box-shadow 0.1s ease-in-out;
            @include flexbox(space-between, center, row, nowrap);
            &:hover {
                @include striped-background;
                box-shadow: 0.2rem 0.2rem 0 $black;
                transform: translate(-2px, -2px);
                cursor: pointer;
            }
            .favorite-left {
                gap: 1rem;
                @include flexbox(start, center, row, nowrap);
                .favorite-img {
                    @include square(2.5rem);
                    border: 1px solid black;
                    outline: 3px solid white;
                    img {
                        @include square(100%);
                        object-fit: cover;
                    }
                }
                .favorite-info {
                    @include flexbox(start, start, column, nowrap);
                    gap: 0.3rem;
                    .favorite-title {
                        font-size: 1.2rem;
                        font-weight: 300;
                    }
                    .favorite-artist {
                        font-size: 1rem;
                        font-weight: 300;
                    }
                    .favorite-album {
                        font-size: 1rem;
                        font-weight: 300;
                    }
                }
            }

            .favorite-actions {
                @include flexbox(center, center, row, nowrap);
                gap: 0.5rem;
                position: relative;
                z-index: 0;
                .btn {
                    @include square(2.3rem);
                    svg {
                        position: absolute;
                    }
                }
                .play-song {
                    svg {
                        left: 13px;
                        width: 0.65rem;
                    }
                }
                .delete-song {
                    svg {
                        left: 5px;
                        width: 1.5rem;
                    }
                }
            }
        }
    }
}
