@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.main-player {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    height: $player-height;
    border-top: 1px solid black;
    z-index: 10;
    animation: slideUpWithBounce 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    .progress-bar {
        height: $player-progress-bar-height;
        .progress {
            height: 100%;
            background-color: $black;
        }
    }
    .player-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
        height: calc(#{$player-height} - #{$player-progress-bar-height});
        .player-body-left {
            display: flex;
            height: 100%;
            gap: 1.5rem;
            align-items: center;
            flex-basis: 0;
            flex-grow: 1;
            .song-art {
                height: $player-song-art-size;
                aspect-ratio: 1;
                border: 1px solid black;
                img {
                    @include square(100%);
                }
            }
            .song-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 0.15rem;
                .song-title {
                    font-size: 1.5rem;
                    font-weight: 600;
                    // font-style: italic;
                }
                .song-artist {
                    font-size: 1.3rem;
                    font-weight: 300;
                }
                .song-album {
                    font-size: 1.3rem;
                    font-weight: 300;
                }
                > :hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
        .player-body-center {
            // display: none;
            display: flex;
            gap: 1rem;
            .player-controls {
                display: flex;
                gap: 0.6rem;
                .btn {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 0.5rem;
                    position: relative;
                    padding: 0;
                    @include box-3d-decoration(0.2rem, 0.5rem, white);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // transition: transform 0.3s;
                    svg {
                        transition: transform 0.3s;
                    }
                    &:active svg {
                        transform: scale(0.9);
                    }
                }
                .btn:first-child svg,
                .btn:last-child svg {
                    width: 1rem;
                }
                .btn:nth-child(2) {
                    svg {
                        width: 0.8rem;
                        position: absolute;
                        &:active {
                            transform: unset;
                        }
                    }
                    svg:nth-child(1) {
                        opacity: 0;
                        transform: scale(0.8);
                    }
                    svg:nth-child(2) {
                        opacity: 1;
                        transform: scale(1);
                    }
                    &.playing {
                        svg:nth-child(1) {
                            opacity: 1;
                            transform: scale(1);
                        }
                        svg:nth-child(2) {
                            opacity: 0;
                            transform: scale(0.8);
                        }
                    }
                }
            }
        }

        .player-body-right {
            flex-basis: 0;
            flex-grow: 1;
            text-align: right;
        }
    }
}

@include breakpoint('<phone') {
    .main-player {
        height: $player-height-phone;
        .progress-bar {
            height: $player-progress-bar-height-phone;
        }
        .player-body {
            padding: 1rem 1rem;
            height: calc(#{$player-height-phone} - #{$player-progress-bar-height-phone});
            .player-body-left {
                gap: 1rem;
                .song-art {
                    height: 4rem;
                }
                .song-info {
                    .song-title {
                        font-size: 1.1rem;
                        font-weight: 500;
                    }
                    .song-artist {
                        font-size: 1rem;
                    }
                    .song-album {
                        font-size: 1rem;
                    }
                }
            }
            .player-body-right {
                display: none;
            }
        }
    }
}
